<!doctype html>
<html lang="hu">
	<head>
        <meta http-equiv="Content-Type" content="text/html;" charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no" /> 
        <meta name="mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="msapplication-tap-highlight" content="no" />

        <title>Title</title>
	</head>
    <body class="theme_">
        <div id="hide-screen" class=""></div>
        <div class="wrapper">
        	{# Header (Menüt is tartalmazza) #}
    		{% include 'frame/header.twig'  with {'menu': app.menu} %}

        	{# Tartalom #}
            <div class="content-wrapper">
    		  {% include app.content_template_name %}
            </div>

        	{# Footer #}
    		{% include 'frame/footer.twig' %}
        </div>
    </body>
</html>