<header class="main-header">
	<div class="desktop-wrapper">
		<a class="logo">
			<div class="logo-lg" style="text-align: center;">
				<img class="open" src="/resources/image/logo/navi_logo_05.png">
				<img class="close" src="/resources/image/logo/navi_logo_06.png">
			</div>
		</a>
		{# menu az app.menu-ből kell érkezzen#}
		{% include "frame/menu.twig" with {'menu': menu} %}
	</div>
	<div class="mobil-wrapper">
		<a class="logo">
			<div class="logo-lg">
				<img src="/resources/image/logo/navi_logo_06.png">
			</div>
		</a>
		<a class="mobil-menu-toggle" id="mobil-menu-toggle"><i class="fas fa-bars"></i></a>
	</div>
</header>
